In [1]:
# filter/clean up data frame and write into filtered.csv
import pandas as pd
df = pd.read_csv('innocence_project_stats.csv')
col_names = list(df)
col_names

['LastName',
 'FirstName',
 'Age',
 'Race',
 'ST',
 'County',
 'Tags',
 'OM_Tags',
 'Crime',
 'Sentence',
 'Convicted',
 'Exonerated',
 'DNA',
 'MWID',
 'FC',
 'P_FA',
 'F_MFE',
 'OM',
 'ILD']

In [2]:
# reorder and drop columns
df = df[['LastName', 'FirstName', 'Age', 'Race', 'Crime', 'Sentence', 'Convicted', 'Exonerated', 'DNA', "ST", "County"]]
print(list(df))

['LastName', 'FirstName', 'Age', 'Race', 'Crime', 'Sentence', 'Convicted', 'Exonerated', 'DNA', 'ST', 'County']

In [3]:
# make 1 column for Name and remove the 2 name columns

df['Name'] = df.insert(0, 'Name', None)
df["Name"] = df["FirstName"] + " " + df["LastName"]
df = df.drop(columns=["FirstName", "LastName"])
df

,Name,Age,Race,Crime,Sentence,Convicted,Exonerated,DNA,ST,County
0,Joseph Abbitt,31.0,Black,Child Sex Abuse,Life,1995,2009,DNA,NC,Forsyth
1,Cinque Abbott,19.0,Black,Drug Possession or Sale,Probation,2008,2022,NaN,IL,Cook
2,Warith Habib Abdal,43.0,Black,Sexual Assault,20 to Life,1983,1999,DNA,NY,Erie
3,Christopher Abernathy,17.0,White,Murder,Life without parole,1987,2015,DNA,IL,Cook
4,Quentin Abney,32.0,Black,Robbery,20 to Life,2006,2012,NaN,NY,New York
...,...,...,...,...,...,...,...,...,...,...
3321,Richard Zawacki,38.0,White,Child Sex Abuse,4 years,2000,2001,NaN,IN,Huntington
3322,Walter Zimmer,40.0,White,Manslaughter,50 years,1998,2011,DNA,OH,Cuyahoga
3323,Evan Zimmerman,53.0,White,Murder,Life,2001,2005,DNA,WI,Eau Claire
3324,Tyrone Zinkiewicz,38.0,White,Other Nonviolent Felony,5 to 15 years,1988,1992,NaN,OH,Montgomery
3325,Michael Zomber,53.0,White,Fraud,2 years and 6 months,2003,2009,NaN,F-PA,(Eastern)

In [4]:
# make Age an int value (why float?)
df["Age"] = df["Age"].astype("Int8")

In [5]:
# Flag those with sentences containing Life

# new column for Life sentences (True/False)
df['Life'] = df.insert(5, 'Life', None)
print(list(df))

['Name', 'Age', 'Race', 'Crime', 'Sentence', 'Life', 'Convicted', 'Exonerated', 'DNA', 'ST', 'County']

In [6]:

for i,row in df.iterrows(): 
    #print (i, list(row))  # DEBUG: row has values for the row with the index i
    s = row["Sentence"] # sentence
    if 'life' in s.lower():
        df.loc[i, "Life"] = True   
    else:
        df.loc[i, "Life"] = False

df

,Name,Age,Race,Crime,Sentence,Life,Convicted,Exonerated,DNA,ST,County
0,Joseph Abbitt,31,Black,Child Sex Abuse,Life,True,1995,2009,DNA,NC,Forsyth
1,Cinque Abbott,19,Black,Drug Possession or Sale,Probation,False,2008,2022,NaN,IL,Cook
2,Warith Habib Abdal,43,Black,Sexual Assault,20 to Life,True,1983,1999,DNA,NY,Erie
3,Christopher Abernathy,17,White,Murder,Life without parole,True,1987,2015,DNA,IL,Cook
4,Quentin Abney,32,Black,Robbery,20 to Life,True,2006,2012,NaN,NY,New York
...,...,...,...,...,...,...,...,...,...,...,...
3321,Richard Zawacki,38,White,Child Sex Abuse,4 years,False,2000,2001,NaN,IN,Huntington
3322,Walter Zimmer,40,White,Manslaughter,50 years,False,1998,2011,DNA,OH,Cuyahoga
3323,Evan Zimmerman,53,White,Murder,Life,True,2001,2005,DNA,WI,Eau Claire
3324,Tyrone Zinkiewicz,38,White,Other Nonviolent Felony,5 to 15 years,False,1988,1992,NaN,OH,Montgomery
3325,Michael Zomber,53,White,Fraud,2 years and 6 months,False,2003,2009,NaN,F-PA,(Eastern)

In [7]:
# drop those with Life == "False"
df = df.drop(df[df["Life"] == False].index)
df

,Name,Age,Race,Crime,Sentence,Life,Convicted,Exonerated,DNA,ST,County
0,Joseph Abbitt,31,Black,Child Sex Abuse,Life,True,1995,2009,DNA,NC,Forsyth
2,Warith Habib Abdal,43,Black,Sexual Assault,20 to Life,True,1983,1999,DNA,NY,Erie
3,Christopher Abernathy,17,White,Murder,Life without parole,True,1987,2015,DNA,IL,Cook
4,Quentin Abney,32,Black,Robbery,20 to Life,True,2006,2012,NaN,NY,New York
11,Don Ray Adams,32,Black,Murder,Life,True,1992,2011,NaN,PA,Philadelphia
...,...,...,...,...,...,...,...,...,...,...,...
3306,Anthony Yarbough,18,Black,Murder,75 to life,True,1994,2014,DNA,NY,Kings
3310,Kenneth York,38,White,Sexual Assault,Life without parole,True,1994,2010,DNA,MO,Vernon
3313,Paul Young,17,Black,Murder,Life without parole,True,1987,2021,NaN,MI,Wayne
3314,"Dan Young, Jr.",30,Black,Murder,Life without parole,True,1994,2005,DNA,IL,Cook
3323,Evan Zimmerman,53,White,Murder,Life,True,2001,2005,DNA,WI,Eau Claire

In [8]:
# Now also drop Life column as it's no longer needed
df = df.drop("Life", axis=1)

In [9]:
# add a new column with duration (Exonerated - Convicted)
df['Duration'] = df.insert(5, 'Duration', 0)
df["Duration"] = df["Exonerated"] - df["Convicted"]
df

,Name,Age,Race,Crime,Sentence,Duration,Convicted,Exonerated,DNA,ST,County
0,Joseph Abbitt,31,Black,Child Sex Abuse,Life,14,1995,2009,DNA,NC,Forsyth
2,Warith Habib Abdal,43,Black,Sexual Assault,20 to Life,16,1983,1999,DNA,NY,Erie
3,Christopher Abernathy,17,White,Murder,Life without parole,28,1987,2015,DNA,IL,Cook
4,Quentin Abney,32,Black,Robbery,20 to Life,6,2006,2012,NaN,NY,New York
11,Don Ray Adams,32,Black,Murder,Life,19,1992,2011,NaN,PA,Philadelphia
...,...,...,...,...,...,...,...,...,...,...,...
3306,Anthony Yarbough,18,Black,Murder,75 to life,20,1994,2014,DNA,NY,Kings
3310,Kenneth York,38,White,Sexual Assault,Life without parole,16,1994,2010,DNA,MO,Vernon
3313,Paul Young,17,Black,Murder,Life without parole,34,1987,2021,NaN,MI,Wayne
3314,"Dan Young, Jr.",30,Black,Murder,Life without parole,11,1994,2005,DNA,IL,Cook
3323,Evan Zimmerman,53,White,Murder,Life,4,2001,2005,DNA,WI,Eau Claire

In [10]:
# For DNA use True and False, not DNA and NaN 
for i,row in df.iterrows(): 
    #print (i, list(row))  # DEBUG: row has values for the row with the index i
    if row["DNA"] == "DNA":
        df.loc[i, "DNA"] = True   # short for  blue
    else:
        df.loc[i, "DNA"] = False
df

,Name,Age,Race,Crime,Sentence,Duration,Convicted,Exonerated,DNA,ST,County
0,Joseph Abbitt,31,Black,Child Sex Abuse,Life,14,1995,2009,True,NC,Forsyth
2,Warith Habib Abdal,43,Black,Sexual Assault,20 to Life,16,1983,1999,True,NY,Erie
3,Christopher Abernathy,17,White,Murder,Life without parole,28,1987,2015,True,IL,Cook
4,Quentin Abney,32,Black,Robbery,20 to Life,6,2006,2012,False,NY,New York
11,Don Ray Adams,32,Black,Murder,Life,19,1992,2011,False,PA,Philadelphia
...,...,...,...,...,...,...,...,...,...,...,...
3306,Anthony Yarbough,18,Black,Murder,75 to life,20,1994,2014,True,NY,Kings
3310,Kenneth York,38,White,Sexual Assault,Life without parole,16,1994,2010,True,MO,Vernon
3313,Paul Young,17,Black,Murder,Life without parole,34,1987,2021,False,MI,Wayne
3314,"Dan Young, Jr.",30,Black,Murder,Life without parole,11,1994,2005,True,IL,Cook
3323,Evan Zimmerman,53,White,Murder,Life,4,2001,2005,True,WI,Eau Claire

In [11]:
#add median age
age_med = df['Age'].median()

print(age_med)

24.0

In [18]:
#State with most exonerations
from collections import Counter
data = Counter(df['ST'])
AllStates = data.most_common()   # Returns all unique items and their counts
Most_State = data.most_common(1)  # Returns the highest occurring item
print(Most_State)

[('NY', 159)]

In [13]:
#Use same method to find largest racial group
data = Counter(df['Race'])
Race_Counts = data.most_common()
Most_Race = data.most_common(1)  # Returns all unique items and their counts
print("The largest Racial group is:", Most_Race)  # Returns the highest occurring item

The largest Racial group is: [('Black', 586)]

In [14]:
#Find the most common crime

data = Counter(df['Crime'])
Most_Crimes = data.most_common()   # Returns all unique items and their counts
Most_Crimes1 = data.most_common(1)  # Returns the highest occurring item
print(Most_Crimes1)

[('Murder', 798)]

In [ ]:
#Create List of names for each state

#I need to match states with names 

ST_List= []

In [15]:
# re-build a 0 to N continuous index
df = df.reset_index(drop=True)
df.index.name = "#"
df

,Name,Age,Race,Crime,Sentence,Duration,Convicted,Exonerated,DNA,ST,County
#,,,,,,,,,,,
0,Joseph Abbitt,31,Black,Child Sex Abuse,Life,14,1995,2009,True,NC,Forsyth
1,Warith Habib Abdal,43,Black,Sexual Assault,20 to Life,16,1983,1999,True,NY,Erie
2,Christopher Abernathy,17,White,Murder,Life without parole,28,1987,2015,True,IL,Cook
3,Quentin Abney,32,Black,Robbery,20 to Life,6,2006,2012,False,NY,New York
4,Don Ray Adams,32,Black,Murder,Life,19,1992,2011,False,PA,Philadelphia
...,...,...,...,...,...,...,...,...,...,...,...
1023,Anthony Yarbough,18,Black,Murder,75 to life,20,1994,2014,True,NY,Kings
1024,Kenneth York,38,White,Sexual Assault,Life without parole,16,1994,2010,True,MO,Vernon
1025,Paul Young,17,Black,Murder,Life without parole,34,1987,2021,False,MI,Wayne
1026,"Dan Young, Jr.",30,Black,Murder,Life without parole,11,1994,2005,True,IL,Cook
1027,Evan Zimmerman,53,White,Murder,Life,4,2001,2005,True,WI,Eau Claire

In [16]:
# Save to new file
df.to_csv("filtered.csv")

In [17]:
# append lat/long of country


# read in US counties DB
df_counties = pd.read_csv("uscounties.csv")
display(df_counties.head(5))

# state controid coordinates, used if the county lookup doesn't work
df_states = pd.read_csv("state.csv")
df_states.head(5)

,county,county_ascii,county_full,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,Los Angeles County,6037,CA,California,34.3209,-118.2247,10019635
1,Cook,Cook,Cook County,17031,IL,Illinois,41.8401,-87.8168,5265398
2,Harris,Harris,Harris County,48201,TX,Texas,29.8577,-95.3936,4697957
3,Maricopa,Maricopa,Maricopa County,4013,AZ,Arizona,33.3490,-112.4915,4367186
4,San Diego,San Diego,San Diego County,6073,CA,California,33.0343,-116.7350,3296317

FileNotFoundError: [Errno 2] No such file or directory: 'state.csv'

In [ ]:
# add 2 columns for lat and long (init wth None)
df["Lat"] = None
df["Long"] = None
df

,Name,Age,Race,Crime,Sentence,Duration,Convicted,Exonerated,DNA,ST,County,Lat,Long
#,,,,,,,,,,,,,
0,Joseph Abbitt,31,Black,Child Sex Abuse,Life,14,1995,2009,True,NC,Forsyth,None,None
1,Warith Habib Abdal,43,Black,Sexual Assault,20 to Life,16,1983,1999,True,NY,Erie,None,None
2,Christopher Abernathy,17,White,Murder,Life without parole,28,1987,2015,True,IL,Cook,None,None
3,Quentin Abney,32,Black,Robbery,20 to Life,6,2006,2012,False,NY,New York,None,None
4,Don Ray Adams,32,Black,Murder,Life,19,1992,2011,False,PA,Philadelphia,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,Anthony Yarbough,18,Black,Murder,75 to life,20,1994,2014,True,NY,Kings,None,None
1024,Kenneth York,38,White,Sexual Assault,Life without parole,16,1994,2010,True,MO,Vernon,None,None
1025,Paul Young,17,Black,Murder,Life without parole,34,1987,2021,False,MI,Wayne,None,None
1026,"Dan Young, Jr.",30,Black,Murder,Life without parole,11,1994,2005,True,IL,Cook,None,None
1027,Evan Zimmerman,53,White,Murder,Life,4,2001,2005,True,WI,Eau Claire,None,None

In [ ]:
# for each row, make a query for its ST and County into the counties df
for i,row in df.iterrows(): 
        query_string = f'state_id == "{row["ST"]}" and county == "{row["County"]}"'  # the " around the values are needed!
        
        try: # need to use try b/c the prisoner table has some States that don't exists (F-NY, etc.)
              cnty = df_counties.query(query_string)
              lat, long = float(cnty["lat"]), float(cnty["lng"])
        except:
              if row["ST"][0:2] == "F-":
                    row["ST"] = row["ST"][3:]
                    df.loc[i, "ST"] = row["ST"]  # remove F- in data
              
              state_row = df_states[df_states["postal_code"] == row["ST"]] # find row in state table
              state_row["lat"], state_row["lng"]
              df.loc[i, "Lat"] = lat 
              df.loc[i, "Long"] = long
        else:      
            df.loc[i, "Lat"] = lat 
            df.loc[i, "Long"] = long         
            #print(lat, long)

df

,Name,Age,Race,Crime,Sentence,Duration,Convicted,Exonerated,DNA,ST,County,Lat,Long
#,,,,,,,,,,,,,
0,Joseph Abbitt,31,Black,Child Sex Abuse,Life,14,1995,2009,True,NC,Forsyth,36.1306,-80.2563
1,Warith Habib Abdal,43,Black,Sexual Assault,20 to Life,16,1983,1999,True,NY,Erie,42.764,-78.7323
2,Christopher Abernathy,17,White,Murder,Life without parole,28,1987,2015,True,IL,Cook,41.8401,-87.8168
3,Quentin Abney,32,Black,Robbery,20 to Life,6,2006,2012,False,NY,New York,40.7785,-73.9674
4,Don Ray Adams,32,Black,Murder,Life,19,1992,2011,False,PA,Philadelphia,40.0077,-75.1339
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,Anthony Yarbough,18,Black,Murder,75 to life,20,1994,2014,True,NY,Kings,40.6395,-73.9385
1024,Kenneth York,38,White,Sexual Assault,Life without parole,16,1994,2010,True,MO,Vernon,37.8506,-94.3424
1025,Paul Young,17,Black,Murder,Life without parole,34,1987,2021,False,MI,Wayne,42.2819,-83.2822
1026,"Dan Young, Jr.",30,Black,Murder,Life without parole,11,1994,2005,True,IL,Cook,41.8401,-87.8168
1027,Evan Zimmerman,53,White,Murder,Life,4,2001,2005,True,WI,Eau Claire,44.7268,-91.286

In [ ]:
# Save to new file
df.to_csv("filtered_with_latlong.csv")

In [ ]:
# Run the graphing app inside jupyter

# Import packages
from dash import Dash, html, dash_table, dcc, callback, Output, Input
import pandas as pd
import plotly.express as px

# Incorporate data
df = pd.read_csv('filtered.csv')
num_rows = len(df)

# Initialize the app
app = Dash(__name__)

# App layout
app.layout = html.Div([
    html.Div(children=f'Total of {num_rows} entries, select a Histogram ',  style={'color': 'Gold', 'font-size': 20}),
    html.Hr(),

    
    dcc.RadioItems(options=['Race', 'Crime', 'ST', 'Age', 'Duration', 'DNA' ], value='Race', 
                   inline=True, 
                   id='controls-and-radio-item',
                   style={'color': 'Gold', 'font-size': 20}),
    dcc.Graph(figure={}, id='controls-and-graph')
])

# Add controls to build the interaction
@callback(
    Output(component_id='controls-and-graph', component_property='figure'),
    Input(component_id='controls-and-radio-item', component_property='value')
)


def update_graph(col_chosen):
    fig = px.histogram(df, x=col_chosen)
    return fig

def updateTable(n):
     pass

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)